{% extends "base.html" %}

{% block content %}
<main class="vh-100">
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <h1><strong>500:</strong> Un error ha ocurrido <i class="bi bi-heartbreak-fill"></i></h1>
    {% if exception %}
    <small class="text-muted">{{ exception }}</small>
    {% else %} 
    <small class="text-muted">No se ha podido procesar su solicitud</small>
    {% endif %}
    <a href="javascript:history.back()" class="mt-3">Retornar</a>
  </div>
</main>
{% endblock content %}

