{% extends "menu.html" %}

{% load static %}
{% block head %}
<script src="{% static 'lib/node_modules/highcharts/highcharts.js' %}"></script>
<script src="{% static 'lib/node_modules/highcharts/modules/exporting.js' %}"></script>
<script src="{% static 'lib/node_modules/highcharts/modules/export-data.js' %}"></script>
<script src="{% static 'lib/node_modules/highcharts/modules/accessibility.js' %}"></script>
<script> 
  window.CSRF_TOKEN = "{{ csrf_token }}"; 
  window.URLS = {
    'url_servicios_mes': '{% url "stats:services_done" %}',
    'url_tipos_servicios': '{% url "stats:services_types"  %}'
  }
</script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock head %}

{% block main_content %}
<div class="container">
  <h1>Bienvenido <strong>{{ user.username }}</strong></h1>
  <hr>
  <div id="container-servicios" class="my-4"></div>
  <div id="container-tiempo" class="my-4"></div>
</div>
{% endblock main_content %}
