{% extends "resources.html" %}

{% block resource_title %}
Unidades <i class="bi bi-truck-front-fill"></i> 
{% endblock resource_title %}

{% block add_button %}
<a class="btn btn-primary" href="{% url 'resources:vehicle_create' %}">Crear vehiculo <i class="bi bi-plus-lg"></i></a>
{% endblock add_button %}

<!-- contenido de la tabla -->
{% block table_content %}
{% for vehiculo in vehiculos %}
<tr>
  <th scope="row">{{vehiculo.id}}</th>
  <td>{{vehiculo.nombre}}</td>
  <td>
    <a class="btn btn-info" href="{% url 'resources:vehicle_update' vehiculo.id %}"><i class="bi bi-pencil-square"></i></a>
  </td>
  <td>
    <button type='button' class="btn btn-danger btnDelete" data-url="{% url 'resources:vehicle_delete' vehiculo.id %}"><i class="bi bi-trash3"></i></button>
  </td>
</tr>
{% endfor %}
{% endblock table_content %}
